<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xz.setting">

    <application>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.HomeActivity"></activity>
        <activity android:name=".activity.ListActivity" />
    </application>

</manifest>